{% extends 'base.html.twig' %}

{% block title %}Absence index{% endblock %}

{% block body %}
    <h1 class="mt-4">Mes absences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Motif</th>
                <th>Etat</th>
                <th>Created_at</th>
                <th>Pièce jointe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>
                    {{ absence.utilisateur.nom }}
                    {{ absence.utilisateur.prenom }}
                </td>
                <td>{{ absence.dateDebut ? absence.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absence.dateFin ? absence.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ absence.motif }}</td>
                <td>
                    {% if (absence.vue == true) %}
                        <div class="alert alert-success" style = "text-align:center">
                            Vue.
                        </div>
                    {% else %}
                        <div class="alert alert-info" style = "text-align:center">
                            Non vue !
                        </div>
                    {% endif %}
                </td>
                <td>{{ absence.createdAt ? absence.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if absence.filename %}
                        <img src="/images/piecesJointes/{{ absence.filename}}" alt="" width="80" height="80">
                    {% endif %}
                </td>
                <td>
                    {#% if ((absence.vue == false) or (absence.vue == null)) %}
                        
                    {% endif %#}
                    <a href="{{ path('absence_show', {'id': absence.id}) }}">show</a>
                    <a href="{{ path('absence_edit', {'id': absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('absence_new') }}" class="btn btn-primary">Déclarer une nouvelle absence</a>
{% endblock %}
